<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <script src="static/register.js" defer></script>
</head>
<body>
    <form action="" method="get" class="register-form">
        <div class="register-form">
          <label for="name">Registre seu nome: </label>
          <input type="text" name="name" id="name" required />
        </div>
        <br>
        <div class="register-form">
          <label for="password">Registre sua senha: </label>
          <input type="password" name="password" id="password" required />
        </div>
        <br>
        <div class="register-form">
            <label for="bio">Digita algo breve sobre você: </label>
            <input type="text" name="bio" id="bio">
        </div>
        <br>
        <div class="register-form">
            <input type="submit" value="Register" id="submit" />
        </div>
      </form>
</body>
</html>