*{
    margin: 0;
    padding: 0;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.on{
    background-color: #ffffff;
}

.on span{
    color: #000000;
}

.off{
    background-color: #000000;
}

.off span{
    color: #ffffff;
}

button{
    background-color: #de4747;
    height: 50px;
    width: 50px;
}

button:hover{
    background-color: #b64141;
}

span{
    height: 50px;
    font-size: 20px;
}